.lightBox{
    position: fixed;
    top: 20%;
    left: 25%;
    background-color: white;
    width: 700px;
    display: flex;
    height: 320px;
    z-index: 700;
    padding: 0.8rem;
}

.lightBox__left{
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0.50;
    padding: 0.8rem 0;
    .lightBox__main__img{
        position: relative;
        height: 85%; 
    }

    img{
        object-fit: cover;
        width: 65%;
        height: 100%; 
       
    }
    .lightBox__left__share{
        position: absolute;
        bottom: 0;
        display: flex; 
        justify-content: space-evenly;
        align-items: center;
        text-transform: uppercase;
        width: 100%;
        height: 15%;
        padding: 1rem 0;
        p{
            padding: 1.1rem 0 0 0;
            font-size: 1rem;
        }
    }
    .goLeft{
        position: absolute;
        background-color: rgb(179, 179, 179);
        opacity: 0.1;
        color: rgb(0, 0, 0);
        height: 100%;
        top: 0%;
        right: 82%;
        border: none;
        font-size: 2.5rem;
    }
    .goRight{
        position: absolute;
        background-color: rgb(179, 179, 179);
        opacity: 0.1;
        color: rgb(0, 0, 0);
        height: 100%;
        top: 0%;
        left: 82%;
        border: none;
        font-size: 2.5rem;
    }  
    .share__icons{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    
}

.lightBox__right{
    flex: 0.50;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 0.5rem 2.5rem;
    h3{
        font-size: 1.5rem;
        font-weight: 500;
        text-transform: uppercase;
        font-family: "Parisienne", cursive;
        font-family: "Playfair Display", serif;
    }
    p{
        font-size: 1.3rem;
        text-align: justify;
    }
    .lightBox__right__price{
        font-size: 1.3rem;
        font-weight: 400;
        margin-right: 1rem;
    }

    button{
        background-color: #a78742;
        border: none;
        padding: 0.5rem 1.3rem;
        text-transform: uppercase;
        font-size: 0.8rem;
    }
    .lightBox__right__buttons{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .lightBox__more__info{
        font-size: 1.2rem;
        color: rgb(0, 0, 0);
        text-decoration: underline black;
    }

    .lightBox__more__info p:hover{
        color: rgb(85, 85, 85);
    }
    .lightBox__more__info p:visited{
        color: rgb(165, 165, 165);
    }
    
      
}

@media (max-width: 415px){
    .lightBox{
        position: fixed;
        top: 30%;
        left: 5%;
        margin: 0;
        width: 90%;
        height:260px;
    }
    
    .lightBox__left{ 
        padding: 1.3rem 0.5rem;
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
        .lightBox__main__img{
            position: relative;
            height: 85%; 
        }
    
        img{
            object-fit: cover;
            width: 65%;
            height: 100%; 
           
        }
       
        .lightBox__left__share{
            padding: 0.5rem 0;
            font-size: 0.6rem;
            p{
                font-size: 0.8rem;
            }
        }
        .goLeft{
            font-size: 1.5rem;
        }
        .goRight{
            font-size: 1.5rem;
        }  
     
    }
    
    .lightBox__right{
        padding:  1rem 0.5rem;
        h3{
            font-size: 0.95rem;
        }
        p{
            font-size: 0.6rem;
        }
        .lightBox__right__price{
            font-size: 0.75rem;
        }
        .lightBox__more__info{
            font-size: 0.85rem;
        }
    }
    
    
    .lightBox__right__buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        button{
            margin-bottom: 0.5rem;
            font-size: 0.65rem;
            padding: 0.4rem;
        }
    }
    
}

@media  (min-width: 768px) and (max-width: 1023px){
    .lightBox{
        top: 35%;
        left: 10%;
        margin: 0;
        width: 80%;
        height:300px;
    }

    .lightBox__left{
       
        .lightBox__main__img{
            height: 85%; 
        }
    
        img{
            object-fit: cover;
            width: 85%;
            height: 100%;   
        }
       
        .lightBox__left__share{
            padding: 0.5rem 0 0.7rem 0;
            font-size: 0.6rem;
            p{
                font-size: 1rem;
            }
        }
        .goLeft{
            right: 81%;
            font-size: 2.5rem;
        }
        .goRight{
            left: 81%;
            font-size: 2.5rem;
        }  
        
    }
    
    .lightBox__right{
        h3{
            font-size: 1.5rem;
        }
        p{
            font-size: 1.2rem;
        }
        .lightBox__right__price{
            font-size: 1.3rem;
        }
        .lightBox__more__info{
            font-size: 1.3rem;
        }
 
    }
    
    .lightBox__right__buttons{
        
        button{
            margin-right: 0.3rem;
            padding: 0.5rem;
            font-size: 0.84rem;
        }
    }    
}


@media  (min-width: 1023.99px) and (max-width: 1300px){
    .lightBox{
        top: 35%;
        left: 5%;
        width: 90%;
        height:450px;  
    }

    .lightBox__left{
        .lightBox__main__img{
            height: 85%; 
        }
    
        img{ 
            width: 85%;
            height: 100%;   
        }
       
        .lightBox__left__share{
            padding: 0.5rem 0;
           
            p{
                font-size: 1.3rem;
            }
        }
        .goLeft{
            right: 81%;
            opacity: 0.3;
            font-size: 3.7rem;
        }
        .goRight{
            left: 81%;
            opacity: 0.3;
            font-size: 3.7rem;
        }  
    }

    .lightBox__right{
        
        h3{
            font-size: 2rem;
        }
        p{
            font-size: 1.5rem;
        }
        .lightBox__right__price{
            font-size: 1.6rem;
        }
        .lightBox__more__info{
            font-size: 1.8rem;
        }
        
    }
    .lightBox__right__buttons{
        button{
            padding: 0.7rem;
            font-size: 1.3rem;
        }
    }  
}

