.productCard{
    width: 220px;
    height: 335px;
    margin: 0.65rem;
    background-color: #efecdf;
    position: relative;
    border: 0.5px solid #a1a1a1;
    color: #000000;
}   

.productCard:hover {

    .productCard__hoovered{
        display: block;
         
    }
    button{
        color: rgb(255, 255, 255);
        background-color: #c9c9c9;
        opacity: 0.9;
    }
    
}


.productCard__hoovered{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    width: 220px;
    height: 335px;
    opacity: 0.4;
    .productCard__more__info{
        position: absolute;
        top: 45%;
        width: 100%;
        padding: 0.2rem;
        color: rgb(255, 255, 255);
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        font-family: "Playfair Display", serif;
    }

}

.productCard__more__info:hover{
    font-size: 2rem;
    transition: all ease-in 1s;
}
.productCard__container{
    display: flex;
    flex-direction: column;
    padding: 0.9rem;
}

.productCard__header{
    width: 100%;
    height: 200px;
}

.productCard__header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.productCard__content{
    justify-content: space-between;
    h3{
        font-size: 0.9rem;
        margin-top: 0.4rem;
        font-family: "Playfair Display", serif;
    }
    p{
        font-size: 0.9rem;
        font-weight: bold;
        text-align: center;
    }
    
}

.productCard__info button{
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    padding: 0.5rem;
    width: 100%;
    font-size: 0.6rem;
    text-transform: uppercase;
    border: none;
    border-top: 0.5px solid #a1a1a1;
    background-color: #a78742;
    color: black;
    
}



@media (max-width: 500px) {

    .productCard{
        width: 155px;
        height: 255px;
        margin: -0.5rem;
    }

    .productCard__hoovered{
        width: 155px;
        height: 255px;
    }

    .productCard__container{
        padding: 0.5rem;
    }

    .productCard__header{
        width: 100%;
        height: 140px;
    }

    .productCard__content{
        h3{
            font-size: 0.8rem;
            margin-top: 0.2rem;
        }
        p{
            font-size: 0.8rem;
        }
    }

    .productCard__info button{
        padding: 0.5rem 0;
    }
  }

  @media  (min-width: 501px)  and (max-width: 800px){
    .productCard{
        width: 175px;
        height: 270px;
        margin: -0.5rem;
    }

    .productCard__hoovered{
        width: 175px;
        height: 270px;
    }

    .productCard__container{
        padding: 0.4rem;
    }

    .productCard__header{
        width: 100%;
        height: 150px;
    }

    .productCard__content{
        h3{
            font-size: 0.9rem;
            margin-top: 0.45rem;
        }
        p{
            font-size: 0.8rem;
        }
    }

    .productCard__info button{
        padding: 0.5rem 0;
    }
  }

  @media  (min-width: 801px)  and (max-width: 1300px){
    .productCard{
        width: 200px;
        height: 320px;
        margin: -0.5rem;
    }
    .productCard__hoovered{
        width: 200px;
        height: 320px;
    }

    .productCard__container{
        padding: 0.4rem;
    }

    .productCard__header{
        width: 100%;
        height: 175px;
    }

    .productCard__content{
        h3{
            font-size: 1.1rem;
            margin-top: 0.45rem;
        }
        p{
            font-size: 1.1rem;
        }
    }

    .productCard__info button{
        font-size: 0.65rem;
        padding: 0.35rem 0;
    }
  }

 