@import "../../../../variables.module";


.quantity{
  display: flex;
  flex-direction: column;

  input{
    width: 40px;
    height: 25px;
    text-align: center;
    font-size: 1rem;
    border: 0.5px solid $darkSilver;
  }
}

@media (max-width: 500px){
  .quantity{
    input{
      width: 50px;
      height: 20px;
    }
  }
}

@media (min-width: 501px) and (max-width: 800px){
  .quantity{
    input{
      width: 70px;
      height: 30px;
    }
  }
}


@media (min-width: 801px) and (max-width: 1200px){
  .quantity{
    input{
      width: 60px;
      height: 35px;
      text-align: center;
      font-size: 1.3rem;
    }
  }
}