.product__main{
    display: flex;
    width: 100%;
    height: 80vh;
    margin: 2rem 0;
    padding: 1rem;
}

.product__left{
    flex: 0.5;
    display: flex;
    .product__left__imgs{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0.3;
        margin: auto 0;
        img{
            width: 110px;
            height: 110px;
            margin: 1rem 0;
            object-fit: cover;
        }
    }
    
    .product__main__img{
        flex: 0.7;
        position: relative;
        margin: auto 0;
        img{
            object-fit: cover;
            width: 66.5%;
            height: 65%;
        }
        .goLeft{
            position: absolute;
            background-color: rgb(212, 212, 212);
            opacity: 0.2;
            color: rgb(0, 0, 0);
            height: 100%;
            top: 0%;
            right: 83%;
            border: none;
            font-size: 2.5rem;
        }
        .goRight{
            position: absolute;
            background-color: rgb(212, 212, 212);
            opacity: 0.2;
            color: rgb(0, 0, 0);
            height: 100%;
            top: 0%;
            left: 83%;
            border: none;
            font-size: 2.5rem;
        }
    }
}

.product__right{
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 3rem;
    .product__right__top{
        width: 100%;
        flex-grow: 0.6 ;
        font-family: 'Playfair Display', serif;
        h3{
            font-size: 2.2rem;
            text-transform: uppercase;
        }
        p{
            font-size: 1.2rem;
            padding: 0 2.8rem;
        }
    }

    .product__right__center{
        width: 100%;
        padding: 1rem 0;
        .product__info{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 1.5rem 0;
            p{
                font-size: 1.7rem;
                font-weight: 400;
                margin-bottom: -1rem;
            }
            .info__buttons{
                width: 180px;
                display: flex;
                justify-content: space-evenly;
                span{
                    font-weight: bold;
                }
            }
        }
        .addToCart{
            background-color: #a78742;
            width: 50%;
            align-items: center;
            padding: 0.3rem;
            border: none;
            text-transform: uppercase;
        }
    
    }

    .product__right__bottom{
        width: 100%;
        padding: 1rem 3rem;
        flex-grow: 0.5 1 auto;
        .product__payment{
            display: flex;
            justify-content: flex-start;
            margin-left: 4rem;
            padding: 0.5rem 0;
            img{
                width: 40px;
                margin-right: 1rem;
            }
        }

        .product__share{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 0.5rem 0;
            a{
                font-size: 1.2rem;
                color: rgb(0, 0, 0);
                text-decoration: underline black;
            }
        }
        .product__share a:hover{
            color: rgb(85, 85, 85);
        }
        .product__share a:visited{
            color: rgb(165, 165, 165);
        }
    }
    
}


.rating{
    color: black;
    .iconHover {
        color: rgb(168, 168, 168);
    }
}


@media (max-width: 411px){
    .product__main{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .product__left{
        .product__left__imgs{
            
            img{
                width: 60px;
                height: 60px;
            }
        }
        
        .product__main__img{
            
            img{
                max-width: 200px;
                height: 200px;
            }
            .goLeft{
                background-color: rgb(212, 212, 212);
                opacity: 0.3;
                height: 100%;
                top: 0%;
                right: 83%;
                font-size: 2.2rem;
            }
            .goRight{
                background-color: rgb(212, 212, 212);
                opacity: 0.3;
                height: 100%;
                top: 0%;
                left: 83%;
                font-size: 2.2rem;
            }
        }
    }
    
    .product__right{
        .product__right__top{
            padding: 0;
            
           
            h3{
                font-size: 1.4rem;
                text-transform: uppercase;
            }
            p{
                padding:0;
                font-size: 1rem;
            }
        }
    
        .product__right__center{
            width: 100%;
            padding: 0;
            margin-top: 0;
            .product__info{
                display: flex;
                justify-content: space-around;
                p{
                    font-size: 1.2rem;
                }
                .info__buttons{
                    width: 150px;
                    margin-left: 0.7rem;
                    span{
                        font-size: 0.75rem;
                    }
                }
            }
            .addToCart{
                padding: 0.5rem 0;
                font-size: 0.6rem;
                width: 100%;
            }
        
        }
    
        .product__right__bottom{
            margin-top: 0.8rem;
            width: 100%;
            padding: 0.5rem 0;
            .product__payment{
                margin-left: 1.1rem;
                padding:  0;
                img{
                    width: 25px;
                }
            }
    
            .product__share{
                display: flex;
                justify-content: space-around;
                margin-top: 0.7rem;
                a{
                    font-size: 1rem;
                }
            }
        }
        
    }
}


@media  (min-width: 767px)  and (max-width: 1023px){
    .product__main{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .product__left{
        .product__left__imgs{
            
            img{
                width: 100px;
                height: 100px;
            }
        }
        
        .product__main__img{
            
            img{
                width: 290px;
                height: 280px;
            }
            .goLeft{
                background-color: rgb(212, 212, 212);
                opacity: 0.4;
                color: gray;
                height: 100%;
                top: 0%;
                right: 78%;
                font-size: 2.7rem;
             
            }
            .goRight{
                background-color: rgb(212, 212, 212);
                opacity: 0.4;
                color: gray;
                height: 100%;
                top: 0%;
                left: 78%;
                font-size: 2.7rem;
            }
        }
    }
    
    .product__right{
       
        .product__right__top{
            h3{
                font-size: 2.2rem;
                text-transform: uppercase;
            }
            p{
                font-size: 1.5rem;
            }
        }
    
        .product__right__center{
            margin-top: 2rem;
            width: 100%;
            padding: 0;
            .product__info{
                display: flex;
                justify-content: space-around;
                p{
                    font-size: 1.5rem;
                }
                .info__buttons{
                    width: 180px;
                }
            }
            .addToCart{
                padding:0.5rem 0.2rem;
                font-size: 1rem;
            }
        
        }
    
        .product__right__bottom{
            margin-top: 1rem;
            width: 100%;
            padding: 0;
            .product__payment{
                padding:  0;
                img{
                    width: 40px;
                }
            }
    
            .product__share{
                display: flex;
                justify-content: space-around;
                margin-top: 1.5rem;
                padding: 0.5rem 0;
                a{
                    font-size: 1.5rem;
                }
            }
        }
        
    }

}



@media  (min-width: 1024px)  and (max-width: 1300px){
    .product__main{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .product__left{
        .product__left__imgs{
            
            img{
                width: 140px;
                height: 140px;
            }
        }
        
        .product__main__img{
           
            img{
                width: 390px;
                height: 390px;
            }
            .goLeft{
                background-color: rgb(212, 212, 212);
                opacity: 0.4;
                color: gray;
                height: 100%;
                top: 0%;
                right: 72%;
                font-size: 3.5rem;
             
            }
            .goRight{
                background-color: rgb(212, 212, 212);
                opacity: 0.4;
                color: gray;
                height: 100%;
                top: 0%;
                left: 72%;
                font-size: 3.5rem;
            }
        }
    }
    
    .product__right{
        
        .product__right__top{
            margin-top: 1rem;
            h3{
                font-size: 2.8rem;
                text-transform: uppercase;
            }
            p{
                font-size: 1.8rem;
            }
        }
    
        .product__right__center{
            margin-top: 2rem;
            width: 100%;
            padding: 0;
            .product__info{
                display: flex;
                justify-content: space-around;
                p{
                    font-size: 2rem;
                }
                .info__buttons{
                    width: 200px;
                }
            }
            .addToCart{
                margin-top: 1rem;
                padding:0.5rem 0.2rem;
                font-size: 1.5rem;
            }
        
        }
    
        .product__right__bottom{
            margin-top: 1.5rem;
            width: 100%;
            padding: 0.5rem 0;
            .product__payment{
                padding:  0 0.9rem; 
                img{
                    width: 55px;
                }
            }
    
            .product__share{
                padding: 0.8rem 0;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 2rem 0;
                a{
                    font-size: 2.2rem;
                }
            }
        }
        
    }

}