@import "../../../variables.module";

.product__gallery__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: $xtiny $small;
    height: 100%;
    margin: $xtiny auto 3rem;
}

.store__title{
    font-size: $titleMedium;
    text-transform: uppercase;
    margin: $small 0;
    color: $earth;
    font-family: $vidaLoka;
}


@media (max-width: 412px){
    .product__gallery__container{
        justify-content: space-around;
    }

    .store__title{
        font-size: $titleRegular;
        margin-top: $xSmall;
    }
}

@media (min-width: 501px) and (max-width: 1300px){
    .store__title{
        margin-top: $large;
    }

    .product__gallery__container{
        padding: 0 3.2rem;
    }
}

@media (min-width: 1024px) and (max-width: 1300px){
    .store__title{
        font-size: 3.2rem;
        margin-top: $large;
    }

    .product__gallery__container{
        padding: 0 3rem;
    }
   
}
