@import "../../../variables.module";

.tienda__container{
  display: flex;
  flex-direction: column;
  background-image: url("../../../assets/images/Backgrounds/YellowLeaves.jpeg");
}

.menu {
  margin: 3% 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card__styles{
  z-index: 1;
  display: flex;
  margin: 3%;
  width: 400px;
  height: 400px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
  p {
    width: 250px;
    position: absolute;
    margin: auto;
    color: $white;
    font-size: $small;
    font-weight: 700;
    z-index: 1;
  }
  img {
    box-shadow: 0px 2px 12px 1px $darkSilver;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  :hover {
    img {
      -webkit-filter: brightness(40%);
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
    }
  }
}


.tallas {
  margin-bottom: 5%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
}

.tallas p{
  font-size: $small;
  margin: 0 5% 0 0;
  font-family: $pFontsFamily;
}

.tallas h2{
  font-size: 2.5rem;
  color: $earth;
  margin: 0;
  transition: all ease 1s;
}


.tallas h2:hover {
  color: $lightEarth;
  font-size: 3rem;
  transition: all ease 1s;
}

.card {
 @extend .card__styles;
}

.card__woman{
  @extend .card__styles;
  margin:1rem 3rem;
}

.button_image img {
  object-fit: cover;
  height: 350px;
  width: 250px;
}


@media (max-width: 500px) {
  
  .card{
    width: 100%;
    height: 100%;
    margin: 5% auto;
    padding: 5%;
    p {
      width: 100%;
      font-size: $large;
      font-weight: 700;
      padding: 10%;
    }
  }
  .card__woman{
    width: 100%;
    height: 100%;
    margin: 1rem 0.5rem;
    padding: 5%;
    p {
      width: 100%;
      font-size: $large;
      font-weight: 700;
      padding: 10%;
    }
  }
  
  .button_image img {
    height: auto;
    width: 100%;
  }

  .tallas p{
    font-size: $tiny;
  }

  .tallas h2{
    font-size: $small;
  }
  
  
}

@media (min-width: 501px) and (max-width: 1300px){
  .card {
    width: 100%;
    height: auto;
    margin: 5% 1rem;
    
    p {
      font-size: $small;
    }
  }

  .card__woman{
    width: 100%;
    height: auto;
    margin: 5% 2rem;
    
    p {
      font-size: $small;
    }
  }

    
.tallas p{
  font-size: $small;
}

.tallas h2{
  font-size: $large;
}
}

