
.tienda__container{
  display: flex;
  flex-direction: column;
  background-image: url("../../../assets/images/Backgrounds/YellowLeaves.jpeg");
}

.menu {
  margin: 3% 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card__styles{
  z-index: 1;
  display: flex;
  margin: 3%;
  width: 400px;
  height: 400px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
  p {
    width: 250px;
    position: absolute;
    margin: auto;
    color: rgb(255, 255, 255);
    font-size: 29px;
    font-weight: 700;
    z-index: 1;
  }
  img {
    box-shadow: 0px 2px 12px 1px #616161;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  :hover {
    img {
      -webkit-filter: brightness(40%);
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
    }
  }
}


.tallas {
  margin-bottom: 5%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
}

.tallas p{
  font-size: 1.5rem;
  margin: 0 5% 0 0;
  font-family: 'Playfair Display', serif;
}

.tallas h2{
  font-size: 2.5rem;
  color: #a78742;
  margin: 0;
  transition: all ease 1s;
}


.tallas h2:hover {
  color: rgb(197, 177, 85);
  font-size: 3rem;
  transition: all ease 1s;
}

.card {
 @extend .card__styles;
}

.card__woman{
  @extend .card__styles;
  margin:1rem 3rem;
}

.button_image img {
  object-fit: cover;
  height: 350px;
  width: 250px;
}

.goBack__link{
  position: absolute;
  left: 3%;
  top: 30%;
  padding: 0.2rem;
  font-size: 1.1rem;
  font-family: 'Playfair Display', serif;
  color: #a78742;
  box-shadow: 0px 5px 12px 1px #616161;
  border: 2px solid #a78742;
  background-color: #dbd9d9;
  width: 10%;
}

@media (max-width: 500px) {
  
  .card{
    width: 100%;
    height: 100%;
    margin: 5% 1rem;
    padding: 5%;
    p {
      width: 100%;
      font-size: 30px;
      font-weight: 700;
      padding: 10%;
    }
  }
  .card__woman{
    width: 100%;
    height: 100%;
    margin: 1rem 0.5rem;
    padding: 5%;
    p {
      width: 100%;
      font-size: 30px;
      font-weight: 700;
      padding: 10%;
    }
  }
  
  .button_image img {
    height: auto;
    width: 100%;
  }

  .tallas p{
    font-size: 0.8rem;
  }

  .tallas h2{
    font-size: 1.7rem;
  }
  
  
}

@media (min-width: 501px) and (max-width: 1300px){
  .card {
    width: 100%;
    height: auto;
    margin: 5% 1rem;
    
    p {
      font-size: 25px;
    }
  }

  .card__woman{
    width: 100%;
    height: auto;
    margin: 5% 2rem;
    
    p {
      font-size: 25px;
    }
  }

    
.tallas p{
  font-size: 1.4rem;
}

.tallas h2{
  font-size: 2.2rem;
}
}

