@import "../../../styles/utils/variables";

.PostContainer {
  margin: 0 auto;
  width: 25%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0;
}

.PostContainer .PostCard {
  margin: 0 auto;
  max-width: 300px;
  height: 215px;
  background: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  border-radius: 4px;
}

.PostCard:hover {
  height: 350px;
}

.PostContainer .PostCard .PostImgBox {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 5.5px;
  z-index: 1;
}

.PostContainer .PostCard .PostImgBox img {
  max-width: 100%;
  border-radius: 4px;
  width: 100%;
}

.PostContainer .PostCard .PostContent {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.PostContainer .PostCard:hover .PostContent {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}
