@import "../../../styles/utils/variables";

@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
// body {
//   font-family: Roboto, sans-serif;
//   margin: 0;
//   height: 100vh;
//   display: grid;
//   align-items: center;
//   justify-items: center;
//   background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
// }
.card {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  max-width: 400px;
  width: 400px;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  position: relative;
  margin: 0.5%;
}
.card h2 {
  margin: 0;
  padding: 0 1rem;
}
.card .title {
  padding: 1rem;
  text-align: right;
  color: green;
  font-weight: bold;
  font-size: 12px;
}
.card .desc {
  padding: 0.5rem 1rem;
  font-size: 12px;
}
.card .actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 100px);
  align-items: center;
  padding: 0.5rem 1rem;
}
.card svg {
  width: 85px;
  height: 85px;
  margin: 0 auto;
}

.imgAvatar {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  border: 6px solid white;
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
  top: 15px;
  left: 85px;
}

.cardText {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.titleTotal {
  padding: 2.5em 1.5em 1.5em 1.5em;
}

// path {
//   fill: white;
// }

.img-portada {
  width: 100%;
}

.portada {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-position: bottom center;
  background-size: cover;
}

.Postbutton {
  border: none;
  background: none;
  font-size: 24px;
  color: #8bc34a;
  cursor: pointer;
  transition:.5s;
  &:hover{
    color: #4CAF50  ;
    transform: rotate(22deg)
  }
}





// .PostContainer {
//   margin: 0 auto;
//   width: 25%;
//   justify-content: center;
//   align-items: center;
//   flex-wrap: wrap;
//   padding: 30px 0;
// }

// .PostContainer .PostCard {
//   margin: 0 auto;
//   max-width: 300px;
//   height: 215px;
//   background: #fff;
//   margin: 30px 10px;
//   padding: 20px 15px;
//   display: flex;
//   flex-direction: column;
//   box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
//   transition: 0.3s ease-in-out;
//   border-radius: 4px;
// }

// .PostCard:hover {
//   height: 350px;
// }

// .PostContainer .PostCard .PostImgBox {
//   position: relative;
//   width: 260px;
//   height: 260px;
//   top: -60px;
//   left: 5.5px;
//   z-index: 1;
// }

// .PostContainer .PostCard .PostImgBox img {
//   max-width: 100%;
//   border-radius: 4px;
//   width: 100%;
// }

// .PostContainer .PostCard .PostContent {
//   position: relative;
//   margin-top: -140px;
//   padding: 10px 15px;
//   text-align: center;
//   color: #111;
//   visibility: hidden;
//   opacity: 0;
//   transition: 0.3s ease-in-out;
// }

// .PostContainer .PostCard:hover .PostContent {
//   visibility: visible;
//   opacity: 1;
//   margin-top: -40px;
//   transition-delay: 0.3s;
// }
