.formComponent{
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgb(204, 204, 204);
    width: 350px; 
    margin: 1.5rem auto;
    padding: 1rem;
    box-shadow: 0px 2px 12px 1px #C7C7C7;
    h3{
        font-family: 'Forum', serif;
        font-size: 1.2rem;
        text-transform: uppercase;
        margin: 0;
    }
}

.inputRow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    label{
        font-family: 'Forum', serif;
        letter-spacing: 0.2rem;
        font-size: 0.8rem;
        font-weight: 550;
        margin:0.5rem auto 0 0;
    }
    input{
        width: 100%;
        padding: 0;
        font-size: 1rem;
        border: 2.5px solid rgb(187, 187, 187);
    }
    p{
        color: rgba(255, 0, 0, 0.637);
        font-size: 0.5rem;
        margin: 0;
    }
}  


@media (max-width: 500px){
    .formComponent{
        width: 260px; 
        margin: 1.5rem auto;
        h3{
            font-size: 1rem;
        }
    }
    
    .inputRow{
        label{
            font-size: 0.8rem;
        }
        input{
            font-size: 0.8rem;
        }
        p{
            font-size: 0.5rem;
        }
    }  
}


@media   (min-width: 767px) and (max-width: 1022px){
    .formComponent{
        width: 340px; 
        h3{
            font-size: 1.2rem;
        }
    }

    
    .inputRow{
        label{
            font-size: 1.2rem;
            font-weight: 500;
        }
        input{
            padding: 0;
            font-size: 1rem;
        }
    }  
}


@media   (min-width: 1023px) and (max-width: 1300px){
    .formComponent{
        width: 420px; 
        padding: 1rem;
        h3{
            font-size: 1.5rem;
        }
    }
    .inputRow{
        label{
            font-size: 1.4rem;
        }
        input{
            padding: 0.5rem;
            font-size: 0.8rem;
        }
    }  
}
