@import "../../styles/utils/variables";

.Blog {
  width: 90%;
  margin: 0 auto;
}

.BlogTitle {
  font-weight: 900;
  font-size: 130%;
  color: $colorFive;
}

.BlogDescription {
  font-size: 110%;
  font-weight: 800;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.PostFlexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
