@import "../../styles/utils/variables";

.Mosaic {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  padding: 1% 0;
}

.Imgs {
  object-fit: cover;
  width: 46%;
  margin: 2%;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.4);
}

.Imgs img {
  object-fit: cover;
  width: 100%;
  height: 160px;
  transition: 1s;
  cursor: pointer;
}

.Imgs img:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

@media (min-width: 575.99px) and (max-width: 767.98px) {
  .Imgs img {
    height: 200px;
  }
  .Imgs {
    margin: 2%;
    width: 29%;
    border-radius: 10px;
  }
}

@media (min-width: 767.99px) and (max-width: 991.98px) {
  .Imgs img {
    height: 250px;
  }
  .Imgs {
    width: 23%;
    margin: 1%;
  }
}

@media screen and (min-width: 991.99px) {
  .Imgs img {
    height: 300px;
  }
  .Imgs {
    width: 23%;
    margin: 1%;
    border-radius: 15px;
  }
}

@media (min-width: 1200px) {
  .Imgs img {
    height: 450px;
  }
}
