@import "../../variables.module";


.home{
   
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    h3{
        font-size: 2rem;
    }
    p{
        font-size: $xSmall;
        font-family: pFontsFamily;
    }
}


.home__slogan{
    font-family: $homeSlogan;
    z-index: 1;
    color: black;
    text-align: center;
    padding: 0.5rem 0;
    h2{
        font-weight: 550;
        margin: 0;
    }
}

.home__banner{
    background-color: white;
    height: 240px;
    img{
        width: 70%;
        height: 100%;
        object-fit: cover;
    }
}

.home__mala{
    display: flex;
    align-items: center;
    height: 350px;
    padding: 0 0.5rem;
    div {
        flex: 0.5;
        padding: 0.5rem;
        text-align: center;
    }
    img{
        flex: 0.5;
        height: 100%;
        object-fit: cover;
    }
    span{
        font-size: 1.2rem;
    }
    p{
        line-height: 2rem;
        margin: 0;
    }
    a{
        color: rgb(134, 17, 17);
        &:hover{
            color: rgb(75, 75, 75);
        }
    }
}

.home__blog{
    display: flex;
    align-items: center;
    height: 300px;
    img{
        flex: 0.4;
        height: 100%;
        object-fit: cover;
    }
    div{
        flex: 0.6;
        text-align: center;
        padding: 0.5rem 1rem;
    }
    span{
        font-size: 1.2rem;
    }
    p{
        line-height: 2rem;
    }
    a{  
        color: rgb(61, 14, 102);
        &:hover{
            color: rgb(75, 75, 75);
        }
    }
}

.ParaImg{
    object-fit: cover;
}


.home__taller{
    height: 420px;
    display: flex;
    overflow:hidden;
    div{
        width: 100%;
    }
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}


@media  (max-width: 415px) {

    .home{
        h3{
            font-size: 1.3rem;
        }
        p{
            font-weight: 50;
            font-size: $tiny;
        }
    }

    .home__slogan h2{
        font-size: 1.2rem;
    }

    .home__banner{
        height: 120px;
        img{
            width: 100%;
        }
    }

    .home__mala{
        display: flex;
        flex-direction: column;
        height:500px;
        div {
            padding: 0.5rem 1rem;
            text-align: center;
        }
        img{
            width: 100%;
        }
        p{
            line-height: 1.8rem;
            margin: 0;
        }
    }
    
    .home__blog{
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        height: 500px;

        img{
            width: 100%;
            height: 50%;
            object-fit: cover;
        }
        .home__blog__info{
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        p{
            line-height: 1.8rem;
            margin: 0;
        }
        a{
            font-size: 0.6rem;
        }
    }
    
.home__taller{
    display: flex;
    flex-direction: column;
    height: 100%;

    div{
        width: 100%;
        height:100%;
    }
}
    
}



@media (min-width: 768px) and (max-width: 1023px){
    .home{
        h3{
            font-size: 2.1rem;
        }
        p{
            font-weight: 50;
            font-size: $small;
        }
    }   
    .home__slogan h2{
            font-size: 2.4rem;
    }

    .home__banner{
        height: 250px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .home__mala{
        display: flex;
        flex-direction: column;
        height:100%;
        div {
            font-size: 1.5rem;
            padding:  1rem;
            
        }
        img{
            width: 100%;
        }
        p{

            line-height: 2.5rem;
        }
    }
        
        
    .home__blog{
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        height: 100%;

        img{
            width: 100%;
            object-fit: cover;
        }
        .home__blog__info{
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 1.5rem;
        }
        p{
            line-height: 2.5rem;
        }
    }
    
    .home__taller{
        display: flex;
        flex-direction: column;
        height: 100%;
    
        div{
            width: 100%;
            height:100%;
        }
    }
    
}

@media (min-width: 1024px) and (max-width: 1300px){
    .home{
        h3{
            font-size: 2.4rem;
        }
        p{
            font-weight: 500;
            font-size: $small;
        }
    }   
    .home__slogan h2{
            font-size:2.8rem;
    }
    .home__banner{
        height: 250px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .home__mala{
        display: flex;
        flex-direction: column;
        height:100%;
        div {
            font-size: 1.5rem;
            padding:  1rem;
            
        }
        img{
            width: 100%;
        }
        p{

            line-height: 2.5rem;
        }
    }
    
    
    .home__blog{
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        height: 100%;

        img{
            width: 100%;
            object-fit: cover;
        }
        .home__blog__info{
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 1.5rem;
        }
        p{
            line-height: 2.5rem;
        }
    }
    
    .home__taller{
        display: flex;
        flex-direction: column;
        height: 100%;
    
        div{
            width: 100%;
            height:100%;
        }
    }
}