

.banner__image{
    width: 100%;
    object-fit: cover;
    height: 500px;
}



.banner__button{
    position: absolute;
    text-align: center;
    bottom: 80px;
    left: 570px;
    width: 20%;
    background-color: rgb(241, 193, 104);
    padding: 0.5rem 1rem;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: "Playfair Display", serif;
}


@media (max-width: 400px){
    .banner__image{
        height: 220px;
    }
    .banner__button{
        bottom: 30px;
        left: 120px;
        width: 35%;
        padding: 0.3rem 0.5rem;
        font-size: 0.7rem;
    }
}


@media(min-width: 410px) and (max-width: 570px){

    .banner__image{
        height: 220px;
    }
    .banner__button{
        bottom: 30px;
        left: 140px;
        width: 35%;
        padding: 0.3rem 0.5rem;
        font-size: 0.75rem;
    }
}

@media (min-width: 580px) and (max-width: 900px){
    .banner__image{
        height: 400px;
    }
    .banner__button{
        bottom: 50px;
        left: 250px;
        width: 35%;
        padding: 0.4rem 0.8rem;
        font-size: 1.5rem;
    }
}

@media (min-width: 910px) and (max-width: 1300px){
    .banner__button{
        bottom: 60px;
        left: 350px;
        width: 32%;
        padding: 0.5rem 1rem;
        font-size: 1.7rem;
    }
}