@import "../UI/Variable";

.show__image {
  z-index: 700;
  position: fixed;
  width: 25rem;
  height: 25rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.show__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.buttons {
  position: absolute;
  width: 10%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
  &:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}

.goLeft {
  @extend .buttons;
  left: 0;
}

.goRight {
  @extend .buttons;
  right: 0;
}

.arrow {
  display: inline-block;
  height: 8px;
  width: 8px;
  border: solid $colorTwo;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  color: white;
  box-sizing: border-box;
}

.arrowLeft {
  @extend .arrow;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrowRight {
  @extend .arrow;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

@media (max-width: 400px) {
  .show__image img{
    width: 70%;
    height: 70%;
    object-fit: cover;
  }
}

@media  (min-width: 401px)  and (max-width: 766px){
  .show__image img{
    object-fit: cover;
    width: 70%;
    height: 70%;
  }
}

@media (min-width: 767.99px) and (max-width: 991.98px) {
  .show__image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 991.99px) and (max-width: 1200px) {
  .show__image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .arrow {
    height: 20px;
    width: 20px;
    border-width: 0 3px 3px 0;
  }
}
