@import "../Variable";

.base {
  cursor: pointer;
  margin: 0 5px;
  width: 50px;
}

.Click {
  cursor: none;
}

.backgroundColorOne {
  background-color: $colorThree;
  &:hover {
    background-color: $colorFour;
  }
}
.small{

  @media (max-width: 575.98px) {
    width: 14px;
  }
  @media (min-width: 765.98px) and (max-width: 991.98px) {
    width: 20px;
  }
  @media (min-width: 1020.98px) and (max-width: 1300px) {
    width: 27px;
  }
  
  @media (min-width: 1301px) {
    width: 20px;
  }
}
.medium {
  @media (max-width: 575.98px) {
    width: 17px;
  }
  @media (min-width: 575.99px) and (max-width: 767.98px) {
    width: 22px;
  }
  @media (min-width: 767.99px) and (max-width: 991.98px) {
    width: 27px;
  }
  @media (min-width: 991.99px) {
    width: 28px;
  }
}

/* .big {
  padding: 10px 15px;
  width: 35px;
  height: 35px;
} */

.white {
  color: white;
}

.black {
  color: black;
}

.arena {
  color: #a1895480;
}

.padding {
  padding: 10px 0px;
}

.noPadding {
  padding: 0;
}