select{
    border-radius: 5px;
    text-align: center;
}


@media (max-width: 415px){
    select{
        width: 40px;
        height: 20px;
    }
}

@media  (min-width: 767px)  and (max-width: 1023px){
    select{
        width: 60px;
        height: 30px;
    }
}

@media  (min-width: 1024px)  and (max-width: 1300px){
    select{
        width: 80px;
        height: 40px;
    }
}