.lightBox{
    position: fixed;
    top: 20%;
    left: 20%;
    background-color: white;
    margin: 2rem auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
    height: 370px;
    z-index: 700;
    border-radius: 5px;
}

.lightBox__left{
    position: relative;
    flex: 0.50;
    padding:1.3rem 0.8rem;
    img{
        height: 85%;
        width: 80%;
        object-fit: cover;
        border-radius: 10px;
    }
    img:hover{
        opacity: 0.9;
        transform: scale(1.5,1.5);
    }
    
}

.lightBox__right{
    flex: 0.50;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 0.8rem;
    h3{
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
        font-family: "Parisienne", cursive;
        font-family: "Playfair Display", serif;
    }
    p{
        font-size: 1.1rem;
        text-align: justify;
    }
    strong{
        font-size: 1.2rem;
        margin-right: 1rem;
    }

    button{
        background-color:  #efecdf;
        padding: 0.2rem;
        border-radius: 5px;
    }
      
}

.lightBox__left__share{
    display: flex; 
    justify-content: space-evenly;
    padding:1rem 0.5rem;
}

.share__icons{
    display: flex;
    align-items: flex-start;
}

.lightBox__size__choice{
    display: flex;
}

.lightBox__right__buttons{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    
}
.buttons{
    background-color: transparent;
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
}

i:hover{
    opacity: 0.8;
    transform: scale(1.8,1.8);
    color: black;
}

.goLeft {
  @extend .buttons;
  left: 10%;
  top: 30%;
  i{
      color:  #bbbab4;
      font-size: 4rem;
      position: absolute;
      bottom: 60px;
      right: 40px;
  }
}

.goRight {
  @extend .buttons;
  right:15%;
  top: 29%;
  i{
    color:  #bbbab4;
      font-size: 4rem;
      position: absolute;
      font-size: 4rem;
      position: absolute;
      bottom: 60px;
      left: 58px;
  }
}


  
@media (max-width: 415px){
    .lightBox{
        position: fixed;
        top: 35%;
        left: 5%;
        margin: 0;
        width: 90%;
        height:250px;
    }
    
    .lightBox__left{
       
        img{
            height: 85%;
            width: 80%;
            object-fit: contain;
        }
     
    }
    
    .lightBox__right{
        
        h3{
            font-size: 0.8rem;
        }
        p{
            font-size: 0.7rem;
        }
        strong{
            font-size: 0.7rem;
        }

        button{
            padding: 0.14rem;
        }
    }
     
    .lightBox__left__share{
        padding: 0.5rem ;
        p{
            font-size: 0.85rem;
            padding: 0.2rem;
        }
    }
    .lightBox__size__choice{
        display: flex;
        padding: 0.3rem;
        
    }
    
    .lightBox__right__buttons{
        font-size: 0.5rem;
        justify-content: space-between;
    }
    .goLeft {
  
        i{
            color:  #bbbab4;
            font-size: 3rem;
            position: absolute;
            bottom: 40px;
            right: 20px;
        }
    }
    .goRight {
  
        i{
            color:  #bbbab4;
            font-size: 3rem;
            position: absolute;
            bottom: 40px;
            left: 24px;
        }
    }
}

@media  (min-width: 768px) and (max-width: 1023px){
    .lightBox{
        top: 35%;
        left: 5%;
        margin: 0;
        width: 90%;
        height:350px;
    }

    .lightBox__left{
       
        img{
            height: 85%;
            width: 80%;
            object-fit: contain;
        }
        
    }
    
    .lightBox__right{
        
        h3{
            font-size: 1.2rem;
        }
        p{
            font-size: 1.2rem;
        }
        strong{
            font-size: 1rem;
        }

        button{
            padding: 0.3;
        }
    }
     
    .lightBox__left__share{
        padding: 0.5rem ;
        justify-content: space-evenly;
        p{
            font-size: 1.2rem;
            padding: 0.2rem;
        }
    }
    .lightBox__size__choice{
        padding: 0.3rem;
        
    }
    
    .lightBox__right__buttons{
        font-size: 0.7rem;
        justify-content: space-evenly;
    }

    .goLeft {
  
        i{
            color:  #bbbab4;
            font-size: 3.5rem;
            position: absolute;
            bottom: 60px;
            right: 20px;
        }
    }
    .goRight {
  
        i{
            color:  #bbbab4;
            font-size: 3.5rem;
            position: absolute;
            bottom: 60px;
            left: 24px;
        }
    }
}


@media  (min-width: 1024px) and (max-width: 1300px){
    .lightBox{
        top: 35%;
        left: 5%;
        width: 90%;
        height:420px;
        img{
            object-fit: contain;
        }
    }

    .lightBox__right{
        
        h3{
            font-size: 1.5rem;
        }
        p{
            font-size: 1.38rem;
        }
        strong{
            font-size: 1.3rem;
        }

        button{
            padding: 0.5;
        }
    }
     
    .lightBox__left__share{
        padding: 0.5rem ;
        
        p{
            font-size: 1.4rem;
            padding: 0.2rem;
        }
    }
    .lightBox__size__choice{
        padding: 0.5rem;
        align-items: center;
        
    }
    
    .lightBox__right__buttons{
        font-size: 1rem;
        justify-content: space-evenly;
    }

    .goLeft {
  
        i{
            color:  #bbbab4;
            font-size: 3.5rem;
            position: absolute;
            bottom: 60px;
            right: 20px;
        }
    }
    .goRight {
  
        i{
            color:  #bbbab4;
            font-size: 3.5rem;
            position: absolute;
            bottom: 60px;
            left: 24px;
        }
    }
    
}


/*
.arrowLeft {
    @extend .arrow;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .arrowRight {
    @extend .arrow;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .arrowLeft{
    i{
        
    }
}

.arrowRight{
    @extend .arrow;
}
  .arrow {
    position: absolute;
    height: 12px;
    width: 12px;
    border: solid black;
    border-width: 0 2px 2px 0;
    padding: 3px;
    box-sizing: border-box;
    background: transparent;
    transition: 0.3s;
    z-index: 10;
}
.arrow:hover{
    border-color: #c2c1be;
    height: 35px;
    width: 35px;   
}

.buttons {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
  }

  */