
.rating__container{
   display: flex;
   img{
      width: 25px;
   }
}

@media (max-width: 415px){
   
.rating__container{
   img{
      width: 18px;
   }
}
}

@media  (min-width: 767px)  and (max-width: 1023px){
   .rating__container{
      img{
         width: 27px;
      }
   }
}



@media  (min-width: 1024px)  and (max-width: 1300px){
   .rating__container{
    img{
      width: 37px;
   }
   }
}