.center {
    width: 100%;
 }
 
 .center2 {
     text-align: center;
     left: 50%;
     transform: translateX(-50%);
     letter-spacing: 10px;
     position: relative;
     background-color: rgb(252, 228, 207);
     width: 50%;
     font-size: 1.4rem;
     z-index: 100;
 }
 
 .paragraph1 {
     margin: 0%;
     padding: 5%;
     font-family: 'IBM Plex Sans', sans-serif;
     font-size: large;
 }
 
 