@import "../UI/Variable";

.toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $colorTwo;
  box-sizing: border-box;
  padding: 0 10px;
  .shrunk {
    max-width: 60px;
    transition: 0.5s;
  }
}

.toolbar__logo {
  justify-content: left;
  overflow: hidden;
  width: 35%;
  
  img {
    width: 100%;
    padding: 15px 0;
    height: auto;
    transition: 0.5s;
    max-width: 175px;
  }
}

.buttonWidth {
  width: 35%;
  display: flex;
}

.toolbar__mainButton {
  @extend .buttonWidth;
}

.toolbar__rightContainer {
  @extend .buttonWidth;
  justify-content: flex-end;
}

@media (max-width: 400px) {

  .toolbar__Logo {
    width: 35%;
  }
}
@media (min-width: 767.99px) and (max-width: 991.98px) {
  .toolbar__Logo {
    width: 35%;
  }
}
@media  (min-width: 1024px)  and (max-width: 1300px){
  .toolbar__Logo {
    width: 40%; 
  }
  
}
