@import "../ui/Variable";

.toolbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $colorTwo;
    box-sizing: border-box;
    padding: 0 10px;
}

.toolbar__logo{
    justify-content: center;
    overflow: hidden;
    width: 35%;
    

    img {
        width: 100%;
        padding: 15px 0;
        height: auto;
        max-width: 175px;
      }
}

.buttonWidth{
  width: 35%;
  display: flex;
}

.toolbar__mainButton{
    @extend .buttonWidth;
}

.toolbar__rightContainer{
    @extend .buttonWidth;
    justify-content: flex-end;
}


@media  (max-width: 767.98px) {
    .toolbar__Logo {
      width: 35%;
    }
  }
  @media (min-width: 767.99px) and (max-width: 991.98px) {
    .toolbar__Logo {
      width: 35%;
    }
  }
  @media (max-width: 991.99px) {
    .toolbar__Logo {
      width: 35%;
    }
  }
  