@import "../UI/Variable";

.toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $colorTwo;
  box-sizing: border-box;
  padding: 0 15px;
  .shrunk {
    max-width: 60px;
    transition: 1s;
  }
}

.toolbar__logo {
  justify-content: center;
  overflow: hidden;
  width: 35%;
  
  img {
    width: 100%;
    padding: 15px 0;
    height: auto;
    transition: 1s;
    max-width: 175px;
  }
}

.buttonWidth {
  width: 35%;
  display: flex;
}

.toolbar__mainButton {
  @extend .buttonWidth;
}

.toolbar__rightContainer {
  @extend .buttonWidth;
  justify-content: flex-end;
  .regular{
    font-weight: bold;
    font-size: 0.8rem;
  }

  .responsive{
    position: absolute;
    font-weight: bold;
    font-size: 0.8rem;
  }
  .toolbar__right__user{
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .toolbar__right__basket{
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}

@media (max-width: 420px) {

  .toolbar__Logo {
    width: 35%;
  }

}
@media (min-width: 767.99px) and (max-width: 991.98px) {
  .toolbar__Logo {
    width: 35%;
  }
}
@media  (min-width: 1024px)  and (max-width: 1300px){
  .toolbar__Logo {
    width: 40%; 
  }
  
}
