.home{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    h3{
        font-size: 2rem;
    }
    p{
        font-weight: 450;
        font-size: 1.2rem;
    }
}


.home__slogan{
    font-family: 'Parisienne', cursive;
    z-index: 1;
    color: black;
    h2{
        padding-top: 3px;
        margin: 1%;
        font-weight: 550;
    }
}

.home__banner{
    margin: 0.5rem 0 0.5rem 0;
    background-color: white;
    img{
        width: 70%;
        height: 180px;
        object-fit: cover;
    }
}

.home__taller{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #efecdf;
    img{
        width: 100%;
        height: auto;
    }
    button{
        position: absolute;
        bottom: 20%
    }
}

.home__blog{
    display: flex;
    height: 250px;
    padding: 1rem;
    margin: 1rem 0 1rem 0;
    img{
        width: 100%;
        height: 100%;
        margin-right: 0.7rem;
        object-fit: cover;
    }
    p{
        font-family: 'Parisienne', cursive;
        font-family: 'Playfair Display', serif;
        text-align: justify;
        padding: 0.4rem;
        font-size: 1.8rem;
    }
    a{  
        text-decoration: none;
        margin-left: 0.5rem;
        color: rgb(0, 0, 255);
        &:hover{
            color: rgb(75, 75, 75);
        }
    }
}

.ParaImg{
    object-fit: cover;
}



@media  (max-width: 400px) {

    .home{
        margin-top: 0;
        h3{
            font-size: 1.3rem;
        }
        p{
            font-weight: 50;
            font-size: 1rem;
        }
    }

    .home__slogan h2{
        font-size: 1.2rem;
    }

    .home__banner{
        
        img{
            width: 100%;
            height: 150px;
            object-fit: cover;
        }
    }
    .home__taller{
        img{
            height: 100%;
            margin-right: 0;
        }
    }

    .home__blog{
        padding: 0.5rem 0.9rem;
        display: flex;
        align-items: center;

        img{
            width: 55%;
            object-fit: cover;
            margin-right: 0.3rem;
            padding: 0.5rem;
        }
        p{
            text-align: justify;
            font-size: 0.6rem;
        }
        a{
            font-size: 0.9rem;
        }
    }
    
}

@media (min-width: 401px) and (max-width: 767.98px){
    .home{
        h3{
            font-size: 1.6rem;
        }
        p{
            font-weight: 50;
            font-size: 0.8rem;
        }
    }
    .home__slogan{
        h2{
            padding-top: 1.5px;
            font-size:1.3rem;
        }
    }

    .home__banner{
        
        img{
            width: 100%;
            height: 150px;
            object-fit: cover;
        }
    }

    .home__blog{
        height: 150px;
        padding: 0.9rem;
        display: flex;
        align-items: center;

        img{
            width: 55%;
            height: 100%;
            object-fit: cover;
            margin-right: 0.3rem;
            margin-left: 0rem;
        }
        p{
            text-align: justify;
            padding: 0.3rem;
            font-size: 0.59rem;
            margin-right: 0;
        }
        a{
            font-size: 0.9rem;
        }
    }
    

}

@media (min-width: 768px) and (max-width: 1200px){
    .home{
        h3{
            font-size: 2.1rem;
        }
        p{
            font-weight: 50;
            font-size: 1.4rem;
        }
    }   
    .home__slogan h2{
            padding-top: 1.5px;
            font-size:2.4rem;
        }

        .home__banner{
            height: 250px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    
        .home__blog{
            height: 250px;
            padding: 0.5rem;
            display: flex;
            align-items: center;
    
            img{
                width: 50%;
                height: 100%;
                margin-right: 0.5rem;
                margin-left: 0.3rem;
            }
            p{
                text-align: justify;
                padding: 0.8rem;
                font-size: 1.2rem;
                margin-right: 0.5rem;
            }
            a{
                font-size: 1.6rem;
            }
        }
        
    
}

@media (min-width: 1023px) and (max-width: 1300px){
    .home{
        h3{
            font-size: 2.4rem;
        }
        p{
            font-weight: 50;
            font-size: 1.6rem;
        }
    }   
    .home__slogan h2{
            padding-top: 1.5px;
            font-size:2.8rem;
    }

    .home__blog{
        height: 300px;
        p{
            font-size: 1.5rem;
        }
        a{
            font-size: 1.9rem;
        }
    }
}