.tooltip__container{
    position: absolute;
    top: 130px;
    z-index: 9;
    border: 0.5px solid rgb(204, 204, 204);
    background-color: rgb(255, 254, 254);
    padding: 1rem  0.5rem;
    width: 200px;
    border-radius: 5px;
}
.tooltip__button{
    width: 80%;
    padding: 0.3rem;
    margin: 0 auto;
    text-transform: uppercase;
    border: none;
    background-color: #CDA34A;
    color: rgb(255, 255, 255);
    justify-content: center;
}

.tooltip__paragraph{
    font-size: 1rem;
    margin: 0.5rem auto;
    color: rgb(182, 182, 182);
}

.tooltip__unsubscribe p{
    font-size: 0.5rem;
    margin: 0.5rem auto;
    color: rgb(182, 182, 182);
}

.tooltip__change__password p{
    font-size: 1rem;
    margin: 0.5rem auto;
    color: #CDA34A;
}


@media (min-width: 550.99px) and (max-width: 991.98px) {

    .tooltip__container{
        width: 250px;
    }
    
    .tooltip__button{
        padding: 0.5rem;
    }
    
    .tooltip__paragraph{
        font-size: 1.5rem;
    }
    
    .tooltip__unsubscribe p{
        font-size: 1rem;
    }
    
    .tooltip__change__password p{
        font-size: 1.2rem;
    }
}

@media (min-width: 991.98px) and (max-width: 1300px) {

    
    .tooltip__container{
        width: 320px;
    }
    
    .tooltip__button{
        padding: 0.5rem;
    }
    
    .tooltip__paragraph{
        font-size: 1.5rem;
    }
    
    .tooltip__unsubscribe p{
        font-size: 1.2rem;
    }
    
    .tooltip__change__password p{
        font-size: 1.5rem;
    }

}