@import "../../styles/utils/variables";

.Blog {
  width: 90%;
  margin: 0 auto;
}

.BlogTitle {
  font-weight: 900;
  font-size: 130%;
  color: $colorFive;
}

.BlogDescription {
  font-size: 110%;
  font-weight: 800;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.BlogRows {
  margin: 0 auto;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .BlogRows {
    display: flex;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
