.footer{
    width: 100%;
    background-color: #efecdf;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 1rem;
    color: black;
    margin: 0;
    position: static;
    bottom: 0;
    left: 0;
}
.footer a{
    text-decoration: none;
}

.footer__title{
    font-weight: 1000;
    font-size: 22px;
    margin-bottom: 1rem;
    
}

.footer__sections{
    width: 100%;
    display: flex;
    flex-flow: column;
    text-align: center;
    padding: 1rem 2rem;
    
}

.footer nav{
    font-size: 18px;
    margin: 0.2rem 6rem;
    color: black;
    text-align: center;
}

.footer__leftSection,
.footer__centerSection,
.footer__rightSection{
    @extend .footer__sections;
}

.icon{
    display: flex;
    align-items: center;
}

@media  (max-width: 400px) {

    .footer__sections{
        padding: 0;
        margin: 1% 4% 1% 0;
    }
    .footer nav{
        font-size: 0.57rem;
        margin: 1% 0;
    }
    .footer__title{
        font-size: 0.75rem;
        margin-bottom: 4%;
        font-weight: 800;
    }
  
}

@media  (min-width: 401px)  and (max-width: 767px) {
    
  
    .footer__sections{
        padding: 0;
        margin: 1% 4% 1% 0;
    }
    .footer nav{
        font-size: 0.6rem;
        margin: 2% 0;
    }
    .footer__title{
        font-size: 1.05rem;
        font-weight: 800;
        margin-bottom: 0.5rem;
    }
}

@media  (min-width: 768px)  and (max-width: 1100px){
   
    .footer__sections{
        padding: 0;
        margin: 1% 2% 1% 2%;
    }
    .footer nav{
        font-size: 1.1rem;
        margin: 2% 0 2% 1%;
    }
    .footer__title{
        font-size: 1.8rem;
        font-weight: 800;
    }
}

@media  (min-width: 1024px)  and (max-width: 1300px){
    .footer__sections{
        padding: 0;
        margin: 1% 2% 1% 2%;
    }
    .footer nav{
        font-size: 1.35rem;
        margin: 2% 1% 2% 2%;
        
    }
    .footer__title{
        font-size: 2.1rem;
        font-weight: 800;
    }
}