.mainContainer{
    display: flex;
}


.productContainer{
  width: 18rem; 
  height: 100%;
  padding-bottom: 1rem;
  margin: 3rem 2rem 3rem 2rem;
  //30px 10px//
}

.card{
    width: 100%;
    height: 18rem;
    background-color:yellowgreen ;
}

.card img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.card_body{
    height: 7rem;
}

.card_title{
    margin: 0.5rem 0;
    font-size: 1.5rem;
}

.card_text{
    font-size: 1rem;
    margin-bottom: 3px;
}

.card_price{
    font-size: 1.3rem;
    color: black;
}

@media  (max-width: 400px){
    .productContainer{
        width: 100%;
        height:100%;
        margin: 1rem 1rem 2rem 1rem;
    }
    .card{
        width: 7rem;
        height: 7rem;
    }
    .card_title{
        font-size: 0.9rem;
    }
    .card_text{
        font-size: 0.7rem;
    }
    .card_price{
        font-size: 0.6rem;
    }
    .card img{
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 575.99px) and (max-width: 770.98px){
    .productContainer{
        width: 100%;
        height:100%;
        margin: 2.2rem 1rem 1rem 0;
    }
    .card{
        width: 10rem;
        height: 10rem;
    }
    .card_title{
        font-size: 1.1rem;
    }
    .card_text{
        font-size: 0.9rem;
    }
    .card_price{
        font-size: 0.8rem;
    }
    .card img{
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 780px) and (max-width: 1200px){
    .productContainer{
        width: 100%;
        height:100%;
        margin: 2.8rem 1rem 2rem 0;
    }
    .card{
        width: 14rem;
        height: 14rem;
    }
    .card_title{
        font-size: 2rem;
    }
    .card_text{
        font-size: 1.3rem;
    }
    .card_price{
        font-size: 1.2rem;
    }
    .card img{
        width: 100%;
        height: 100%;
    }
}