
.product__container{
    width: 290px; 
    height: 380px;
    margin: 1.1rem;
     img{
        width: 100%;
        height: 280px;
         object-fit: cover;
     }
     .card__body{
        height: 100%;
        padding:0.2rem 0.5rem;
    }
    
    .card__title{
        margin: 0.5rem 0;
        font-size: 1rem;
        text-transform: uppercase;
    }
    .card__price{
        font-size: 1.1rem;
        color: black;
    }
}


@media   (max-width: 500px){
    .product__container{
        width:160px; 
        height: 250px;
        margin: 0.5rem;
        
        img{
            height: 150px;
            width: 100%;
            
         }
         .card__body{
            padding:0.2rem;
       }
       
       .card__title{
           margin: 0.5rem 0;
           font-size: 0.8rem;
       }
       .card__price{
           font-size: 1rem;
           color: black;
       }
    }
}

@media (min-width: 1024px) and (max-width: 1300px){
    .product__container{
        width: 420px; 
        height: 540px;
       img{
        width: 100%;
        height: 350px;
    }
    .card__title{
        font-size: 2rem;
    }
    .card__price{
        font-size: 2rem;
    }
    
    }
    
}

