//colors
$colorOne: #000;
$colorTwo: #ffffff;
$colorThree: #cbad6c;
$colorFour: #978228;
$colorFive: #c3866f;
$colorSix: #e18b22;
$footerColor: #f5ba8c;

$black: #000000;
$white: #ffffff;
$earth: #a78742;
$lightEarth: rgb(197, 177, 85);
$xLightSilver:#efecdf;
$lightSilver: #dbd9d9;
$mediumSilver: rgb(212, 212, 212);
$darkSilver: #616161;

//fonts
$vidaLoka: 'Vidaloka', serif;
$fontFive: "EB Garamond", serif;
$pFontsFamily: 'Playfair Display', serif;
$homeSlogan: 'Parisienne', cursive;
//sizes

$xtiny: 0.5rem;
$tiny: 0.8rem;
$xSmall: 1rem;
$small: 1.5rem;
$large: 2rem;
$xLarge: 2.5rem;


//fonts

$pSmall: 0.5rem;
$pRegular: 1rem;
$pMedium: 1.5rem;
$pLarge: 2rem;

$titleSmall: 1rem;
$titleRegular: 1.5rem;
$titleMedium: 2rem;
$titleLarge: 2.5rem;

$bottomXsmall: 0.5rem;
$bottomSmall: 0.8rem;


//screen sizes
 