//colors
$colorOne: #000;
$colorTwo: #ffffff;
$colorThree: #cbad6c;
$colorFour: #978228;
$colorFive: #c3866f;
$colorSix: #e18b22;
$footerColor: #f5ba8c;

$earth: #a78742;
$lightEarth: rgb(197, 177, 85);
$xLightSilver:#efecdf;
$lightSilver: #dbd9d9;
$darkSilver: #616161;
$white: #ffffff;
//fonts
$fontFive: "EB Garamond", serif;
$pFontsFamily: 'Playfair Display', serif;
$homeSlogan: 'Parisienne', cursive;
//sizes

$xtiny: 0.5rem;
$tiny: 0.8rem;
$xSmall: 1rem;
$small: 1.5rem;
$large: 2rem;
$xLarge: 2.5rem;


//fonts

$pRegular: 1rem;
$pSmall: 0.8rem;
$pMedium: 1.5rem;
$pLarge: 1.6rem;

$titleRegular: 1rem;
$titleSmall: 1rem;
$titleMedium: 1rem;
$titleLarge: 1rem;
