
.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  margin-top: 7.5rem;
  flex: 1;
}


.app__body{
  flex: 1;
}



button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

.koketropic__logo{
  width: 400px;
  height: 150px;
  margin-top: 1rem;
}
.store__titulo{
  width: 400px;
  height: 200px;
}

@media  (max-width: 500px){
  .app{
    margin-top: 5rem;
  }
}

@media (max-width: 767.98px){

  .koketropic__logo{
    width: 200px;
    height: 80px;
    margin-top: 1rem;
  }
  .store__titulo{
    width: 200px;
    height: 100px;
  }

}

