
.app__header{
  z-index: 100;
  grid-area: header;
  position: sticky;
  top: 0;
}
.app__body{
  grid-area: body;
}

.app__footer{
  grid-area: footer;
}

.app{
  text-align: center;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "header"
  "body"
  "footer";
}


button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

/* @media (min-width: 575.99px) and (max-width: 767.98px) {
  .app__body {
    padding-top: 170px;
  }
}
@media (min-width: 767.99px) and (max-width: 991.98px) {
  .app__body {
    padding-top: 130px;
  }
}
@media (min-width: 991.99px) {
  .app__body {
    padding-top: 180px;
  }
} */
