$colorOne: #000;
$colorTwo: #ffffff;
$colorThree: #cbad6c;
$colorFour: #978228;
$colorFive: #c3866f;
$colorSix: #e18b22;
//colors
$footerColor: #f5ba8c;

//fonts
$fontParagraph: 'Playfair Display', serif;
$fontFive: "EB Garamond", serif;

//sizes

$pRegular: 1rem;
$pSmall: 1rem;
$pMedium: 1rem;
$pLarge: 1rem;

$h1Regular: 1rem;
$h1Small: 1rem;
$h1Medium: 1rem;
$h1Large: 1rem;

$h2Regular: 1rem;
$h2Small: 1rem;
$h2Medium: 1rem;
$h2Large: 1rem;

$h3Regular: 1rem;
$h3Small: 1rem;
$h3Medium: 1rem;
$h3Large: 1rem;