
.register__button{
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.3rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 500;
    border: none;
    font-size: 0.4rem;
    background-color: #CDA34A;  
}



@media (min-width: 1024px) and (max-width: 1300px){
    .register__button{
        padding: 0.5rem;
        font-size: 1.2rem;
    }
}

