
.container__form{
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgb(204, 204, 204);
    width: 380px; 
    margin: 1.5rem auto;
    padding: 0.5rem 1rem;
    box-shadow: 0px 2px 12px 1px #C7C7C7;
    h3{
        margin-top: 1rem;
        font-family: 'Forum', serif;
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    form{
        .remember__password{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            p{
                align-items: flex-end;
                font-size: 0.7rem;
                margin-left: 0.3rem;
                padding-top: 0.8rem;
            }
        }
        
        
        button{
            margin: 0.5rem 0;
            padding: 0.5rem;
            width: 25%;
            text-transform: uppercase;
            color: rgb(255, 255, 255);
            font-weight: 500;
            background-color: #CDA34A;
            border: none;
            font-size: 0.8rem;
        } 
    }
    .buttons__container{
        display: flex;
        flex-direction: column;
        img{
            width: 30px;
            position: absolute;
            left: 30px;   
        }
        button{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #CDA34A;
            width: 100%;
        }
        .singWhit__button{
            background-color: rgb(214, 212, 212);
        }
    }
    a{
        color: rgb(0, 0, 0);
        margin: 0.5rem 0;
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    
}

.create__user__row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.2rem;
    label{
        font-family: 'Forum', serif;
        letter-spacing: 0.2rem;
        font-size: 1rem;
        margin-right: auto;
    }
    input{
        width: 100%;
        padding: 0.2rem;
        font-size: 1rem;
        border: 2.5px solid rgb(187, 187, 187);
    }
}  
@media  (max-width: 700px){
    .container__form{
        width: 280px; 
        padding: 0.2rem 1rem;
        h3{
            font-size: 1rem;
        }
        p{
            font-size: 0.8rem;
        }
        form{
           
            button{
                width: 70%;
                padding: 0.2rem;
            }
            .create__user__row{
                label{
                    font-size: 0.8rem;
                }
                input{
                    padding: 0;
                    font-size: 1.2rem;
                }
            }
           
        }
        .buttons__container{
            button{
                font-size: 0.7rem;
            }
            img{
                width: 20px;
                position: absolute;
                left: 20px;   
            }
        }
        a{
            font-size: 0.7rem;
        }
    }  
    
}

@media (min-width: 701px) and (max-width: 1000px){
    .container__form{
        p{
            font-size: 1.5rem;
        }
        form{
           
            button{
                width: 70%;
                padding: 0.5rem;
            }
        }
        width: 400px;
    }
}

@media (min-width: 1000px) and (max-width: 1300px){
    .container__form{
        width: 500px; 
        padding: 0.2rem 1rem;
        h3{
            font-size: 2rem;
        }
        p{
            font-size: 1.5rem;
        }
        form{
           
            button{
                width: 70%;
                padding: 0.8rem;
                font-size: 1.4rem;
            }
            .create__user__row{
                label{
                    font-size: 1.5rem;
                }
                input{
                    padding: 0;
                    font-size: 1.5rem;
                }
            }
           
        }
        .buttons__container{
            button{
                font-size: 1.3rem;
            }
            img{
                width: 30px;
                position: absolute;
                left: 20px;   
            }
        }
        a{
            font-size: 1.3rem;
        }
    }  
}