
.const__submit__button {
    margin: 0.5rem 0;
    padding: 0.3rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 500;
    border: none;
    font-size: 0.4rem;
}


  .singIn__remember{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 0.5rem;
    p{
        align-items: flex-end;
        font-size: 0.7rem;
        margin:0 0 0 0.3rem;
        padding-top: 0.5rem;
    }
}

.singIn__linkTo{
    color: black;
    text-align: right;
    font-size: 0.9rem;
    margin: 0;
}

.singIn__submit__buttons{
    display: flex;
    flex-direction: column;
    button{
        @extend .const__submit__button;
        background-color: #CDA34A;   
    }
    .singWhit__button{
        @extend .const__submit__button;
        position: relative;
        background-color: rgb(214, 212, 212);
    }
    img{
        width: 25px;
        position: absolute;
        left: 5px;
        bottom: 3px;   
    }
}

@media (max-width: 500px){
    .singIn__submit__buttons{
        img{
            width: 20px;
        }
    }
}

@media  (min-width: 767px)  and (max-width: 1023px){
    .singIn__linkTo{
        color: black;
        text-align: right;
        margin: 0;
        font-size: 1.3rem;
    }

    
    .singIn__remember{
        margin-bottom: 0.5rem;
        input{
            margin-bottom: 0.3rem;
        }
        p{
            font-size: 1rem;
            margin:0 0 0 0.3rem;
            padding-top: 0.8rem;
        }
    }
}


@media   (min-width: 1024px) and (max-width: 1300px){

    .singIn__linkTo{
        font-size: 1.5rem;
    }
   
    .singIn__remember{
        margin-bottom: 0.5rem;
        input{
            margin-bottom: 0.5rem;
        }
        p{
            font-size: 1.3rem;
            margin:0 0 0 0.3rem;
            padding-top: 0.8rem;
        }
    }

    
    .const__submit__button {
        padding: 0.5rem;
        font-size: 1.2rem;
    }
}